PORT=8000
UVICORN_PORT=8000

SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URL=http://localhost:8000/get_token

API_LOGIN=
API_PASSWORD=

TG_BOT_TOKEN=
DEPLOY_URL=http://localhost:8000
IGNORE_CORS=False
JSON_LOGS=False
DOMAIN=test-dwman.localhost
